*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
container{
  display: flex;
  flex-flow: row wrap;
  background: #55c059;
  color: white;
  margin: 0;
  height: 100vh;
  font-size: 5vh;
}
#clear, .operators-wrapper{
  flex-basis: 25%;
}
.top-wrapper{
  flex-basis: 100%;
  display: flex;
  align-items: center;
}
#clear, .keys{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.display{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 75%;
  border: 1px solid white;
  height: 20vh;
}
.numbers-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 75%;
}
.operators-wrapper{
  background: #7ac57d;
}
.keys{
  flex-basis: calc(100%/3);
  height: 20vh;
}
#clear:hover, #equals:hover, #decimal:hover{
  background:  #7ac57d;
}
